src/.tox/
src/.coverage
src/.idea/*
src/.cache/
src/__pycache__/
src/*.pyc
src/elastalert/*.pyc
src/virtualenv_run/
src/*.egg-info/
src/dist/
src/venv/
src/env/
src/docs/build/
src/build/
src/config.yaml
src/smtp-auth.yaml
.gitignore
.DS_Store

my_rules
*.swp
